/* UTILITIES */
:root {
    --primary-color: rgba(247, 247, 247, 1);
    --secondary-color: rgba(27, 114, 232, 1);
    --header-card-color: rgba(218, 218, 218, 1);
    --header-search-bar: rgba(229, 229, 229, 1);


}

* {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

/*****************************

            HEADER

*****************************/
.header_content {
    height: 50px;
}

.header_mid {
    background-color: var(--header-search-bar);
}

.header_right>a {
    color: black;
}

/* PAGE */
.page {
    height: calc(100vh - 50px);
}

/*****************************

             NAV

*****************************/

.nav_item>a {
    color: white;
}

/*****************************

            MAIN

*****************************/



/*****************************

            FOOTER

*****************************/


@media screen and (min-width:1200px) {
    .header_left>img:first-child {
        display: block;
    }

    .header_left>img:last-child {
        display: none;
    }

    .header_right,
    .nav_item>a {
        text-decoration: none;
        gap: 1rem;
    }

    .header_right>a>i,
    .nav_item>a>span {
        display: block;
        text-decoration: none;
    }

    .nav_item>a {
        display: flex;
    }
}