/* UTILITIES */
:root {
    --primary-color: rgba(247, 247, 247, 1);
    --secondary-color: rgba(27, 114, 232, 1);
    --header-card-color: rgba(218, 218, 218, 1);
    --header-search-bar: rgba(229, 229, 229, 1);


}

* {
    font-family: 'Roboto', sans-serif;
}

.hidden {
    display: none;
}

/*****************************

            HEADER

*****************************/

.header_mid {
    background-color: var(--header-search-bar);
}

.header_right>a {
    color: black;
}

/*****************************

             NAV

*****************************/



/*****************************

            MAIN

*****************************/



/*****************************

            FOOTER

*****************************/