/* UTILITIES */
:root {
    --primary-color: rgb(226, 226, 226);
    --secondary-color: rgba(27, 114, 232, 1);
    --header-card-color: rgba(218, 218, 218, 1);
    --header-search-bar: rgba(229, 229, 229, 1);
    --nav-color: rgba(13, 37, 58, 1);
    --bs-offcanvas-width: 1200px
}

* {
    font-family: 'Roboto', sans-serif;
}

/* HIDDEN PROPERTY */
.hidden {
    display: none;
}

/* DEBUG */
.debdug {
    border: 2px dashed black;
}

/*ANIMATION*/

body:has(.call-to-action_faq_1:active) .question_1,
body:has(.call-to-action_faq_2:active) .question_2,
body:has(.call-to-action_faq_3:active) .question_3 {
    display: block;
}

/*****************************

            HEADER

*****************************/
#site_header {
    width: 100vw;
}

.header_content {
    height: 50px;
}

.header_mid {
    background-color: var(--header-search-bar);
}

.header_right>a {
    color: black;
}

/* PAGE */

.page {
    height: calc(100vh - 50px);
}

/* /PAGE */


/*****************************

             NAV

*****************************/
#navbar {
    background-image: url(../img/sidebar-bg.png);
    background-color: var(--nav-color);
    background-repeat: no-repeat;
    background-size: cover;
}

.nav_item>a {
    color: white;
    text-decoration: none;
}

/*****************************

            MAIN

*****************************/
#site_main {
    overflow-y: auto;

}

.main_container {
    background-color: var(--primary-color);
}

.main_right,
.main_left {
    height: 90%
}

/*JUMBO*/

#jumbotron {
    background-color: var(--secondary-color);
    flex-direction: column;

    .jumbo_top>a,
    .jumbo_mid_up>a,
    .jumbo_mid_down>a {
        text-decoration: none;
    }

    .jumbo_mid_up>h4 {
        display: inline;
    }

    .jumbo_mid_down>a,
    .jumbo_mid_up>a {
        background-color: rgba(0, 0, 0, 0.2);
        font-size: 0.8rem;
    }

    .jumbo_bot div:last-child {
        font-size: 1.5rem;
    }
}

/*CARD*/
.card_top,
.card {
    border: 1px solid lightgray;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;

    & .card_top {
        background-color: var(--primary-color);
        border-bottom: 3px solid lightgray;
    }
}

.card_row,
.user_list {
    border-bottom: 1px solid lightgray;
}


/*TABLE*/
td:last-child {
    >a {
        text-decoration: none;
        margin-right: 4px;
        font-size: 0.8rem;
    }
}

/*TODO*/

.row_todo_card input[type="checkbox"] {
    width: 1rem;
}

/*CHART*/

.chart>.card>.card_bottom>p,
.chart>.card>.card_bottom>div,
.chart>.card>.card_bottom>a {
    font-size: 0.8rem;
}

/*OFFCANVAS*/



/*****************************

            FOOTER

*****************************/


@media screen and (min-width:1200px) {
    .header_left>img:first-child {
        display: block;
    }

    .header_left>img:last-child {
        display: none;
    }

    .header_right {
        gap: 2rem;
    }

    .header_right>a>i,
    .nav_item>a>span {
        display: block;
    }

    .header_right>a {
        text-decoration: none;
    }

    .nav_item>a {
        gap: 1rem;
    }

    #jumbotron {
        flex-direction: row;
        /*gap: 0;*/


        .jumbo_mid_down>a,
        .jumbo_mid_up>a {
            display: inline;

            &.expand {
                display: none;
            }
        }

        .jumbo_top {
            order: 1;
        }
    }

    #navbar {
        min-width: 100px;
        max-width: 200px;
    }

    .main_container {
        display: flex;
        gap: 0.5rem
    }


    td.hidden,
    th.hidden {
        display: table-cell;
    }

}